@import 'mixins', 'variables';

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	//background-image: url('/img/bg/crossword.png');
	/*background-image: url('/img/light_wool.png');*/
}

.fs17 {
	font-size: 17px;
}

.fs18 {
	font-size: 18px;
}

.page-wrapper {
	height: 100%;
}

.submit {
	/*background-image: url('/img/bg/crossword.png');*/
}

.search {
	/*background-image: url('/img/bg/crossword.png');*/
}

.full-height {
	height: 100%;
}

div.half-screen-button {
	height: 50vh;
	text-align: center;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background: white;
}

.border-bottom {
	border-bottom: 1px dashed #00CA63;
}

div.half-screen-button:hover {
	cursor: pointer;
	color: #00E56B;
}

a {
	color: #00C963;
}

a:hover {
	text-decoration: none;
	color: #00E56B;
}

a:focus {
	text-decoration: none;
	color: #00FE77;
}

.pc {
	color: $primary;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

.icon-md {
	width: 35px;
}

.icon-wrapper {
	padding: 0 3px;
}

.flag-icon {
	&.rounded {
		border-radius: 3px;

		//border: 1px solid #ccc;
	}
	&:hover {
		cursor: pointer;
	}
	&.selected {
		box-shadow: 0 0 10px $primary;
	}
}

.flag-size-md {
	font-size: 25px
}

.flag-size-sm {
	font-size: 15px
}

.search-card.mb {
	margin-bottom: 30px;
}

.inline-block {
	display: inline-block;
}

.container {
	max-width: 700px;
}

.content-wrapper {
	margin: 0 auto;
	padding-bottom: 20px;
}

.btn-primary {
	//background: $primary;
}

.mb {
	margin-bottom: 20px;
}

.page {
	padding: 20px;
}

.center {
	text-align: center;
}

.div-center {
	margin: auto;
}


.container-fluid {
	padding: 0;
	margin: 0;
}


.clearing {
	clear: both;
}

.remove-top-right {
	position: absolute;
	top: -10px;
	right: -7px;
	color: #ccc;	
	font-size: 20px;

	&.fa {
		font-size: 20px;
	}

	&:hover {
		color: red;
		cursor: pointer;
	}

}

.growing {
  @include vendor-prefix(transition, all .5s);

  &:hover {
    @include vendor-prefix(transform, scale(1.1));
  }
}